.footer{
    width: 100vw;
    height: 18vh;
    box-shadow: 1px -6px 10px -3px #A62424;
    border-radius: 5px;
    color: white;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    height: 130px;
    padding: 0.5rem;
    border-radius: 50%;
}
.footer h4{
    padding: 0.5rem;
}
.textfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
