.container{
   width: 99vw;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  height: 18vh;
  box-shadow: -10px -7px 27px 1px #0A0D40 ,inset 0px -3px 15px 3px #A62424;
  margin-bottom: 2vh;
  padding-right: 2vw;
}
.logo {
  height: 20vh;
}

