

/* #A62139
#401033
#0D040A
#0A0D40
#A62424 */




body{
    text-align: center;
    background-image: url(./images/night-sunset.jpg);
    background-size: 100vw 100vh;
}

.cocktail-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
